apiVersion: apps/v1
kind: Deployment
metadata:
  name: data-app
  namespace: sahaluniv
  labels:
    app: data-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: data-app
  template:
    metadata:
      labels:
        app: data-app
        company: Kaydsystems
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8501"
        prometheus.io/path: "/metrics"
    spec:
      containers:
        - name: data-app
          image: ahismail/test-app:2025-11-30-a717123-1
          ports:
            - containerPort: 8501
