name: CI-CD

on:
  push:
    branches: 
    - main
permissions:
  contents: write

jobs:

  docker-build:
    uses: ./.github/workflows/build-docker.yaml

  docker-push:
    uses: ./.github/workflows/docker-push.yaml
    needs: docker-build
    with:
      LATEST_IMAGE: ${{ needs.docker-build.outputs.LATEST_IMAGE }}
      REPO: "ahismail/test-app"
    secrets: inherit

  