name: Push Docker Image to DockerHub

on:
  workflow_call:
    inputs:
      LATEST_IMAGE:
        required: true
        type: string
      REPO:
        required: true
        type: string
    outputs:  
      LATEST_IMAGE:
        description: "The latest Docker image tag"
        value: ${{ jobs.docker-push.outputs.LATEST_IMAGE }}
jobs:
  docker-push:
    runs-on: self-hosted
    outputs:
      LATEST_IMAGE: ${{ steps.set-tag.outputs.LATEST_IMAGE }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Docker Login
        run: |
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Verify Docker Image exists 
        run: |
          echo "Looking for image: ${{inputs.REPO}}:${{ inputs.LATEST_IMAGE }}"  
          docker images | grep ${{inputs.REPO}}

      - name: Push Docker Image
        run: |
          docker push ${{inputs.REPO}}:${{ inputs.LATEST_IMAGE }}
          echo "Pushed image with tag:" ${{ inputs.LATEST_IMAGE }} 
      - name: Set Docker tag output
        id: set-tag
        run: |
          echo "LATEST_IMAGE=${{ inputs.LATEST_IMAGE }}" >> $GITHUB_OUTPUT

