name: Push Docker Image to DockerHub

on:
  workflow_call:
    inputs:
      LATEST_IMAGE:
        required: true
        type: string
      REPO:
        required: true
        type: string
    outputs:  
      LATEST_IMAGE:
        description: "The latest Docker image tag"
        value: ${{ jobs.docker-build.outputs.LATEST_IMAGE }}
jobs:
  docker-push:
    runs-on: self-hosted
    outputs:
      LATEST_IMAGE: ${{ steps.set-tag.outputs.LATEST_IMAGE }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Docker Login
        run: |
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Verify Docker Image exists 
        run: |
          echo "Looking for image: ${{inputs.REPO}}:${{ inputs.LATEST_IMAGE }}"  
          docker images | grep ${{inputs.REPO}}:${{ inputs.LATEST_IMAGE }}

      - name: Push Docker Image
        run: |
          docker push ${{inputs.REPO}}:${{ inputs.LATEST_IMAGE }}
          echo "Pushed image with tag:" ${{ inputs.LATEST_IMAGE }} 
      # - name: Set Docker tag output
      #   id: set-tag
      #   run: |
      #     echo "LATEST_IMAGE=${{ inputs.LATEST_IMAGE }}" >> $GITHUB_OUTPUT

      # - name: Update Kubernetes manifest with new image tag
      #   run: |
      #     set -e
      #     FILE="kubernetes/deployment.yaml"
      #     IMAGE_LINE_BEFORE=$(grep -E '^\s*image:' "$FILE" || true)

      #     echo "Before update: $IMAGE_LINE_BEFORE"

      #     sed -i -E "s|^[[:space:]]*image:[[:space:]]*.*|  image: ${{inputs.REPO}}:${{ inputs.LATEST_IMAGE}}|" "$FILE"

      #     IMAGE_LINE_AFTER=$(grep -E '^\s*image:' "$FILE" || true)
      #     echo "After update: $IMAGE_LINE_AFTER"

      #     if [ "$IMAGE_LINE_BEFORE" = "$IMAGE_LINE_AFTER" ]; then
      #       echo "No image line was updated. Check regex or file path."
      #       exit 1
      #     fi

      #     echo "Image line updated in $FILE"
      #     cat "$FILE"
      # - name: Commit and push changes
      #   run: |
      #     set -e
      #     git config --global user.email "kayd_88@hotmail.com"
      #     git config --global user.name "ahmedkayd"

      #     IMAGE_TAG="$(echo '${{ inputs.LATEST_IMAGE }}' | xargs)"

      #     if [[ "$RUNNER_OS" == "macOS" ]]; then
      #       sed -i '' "s|^\([[:space:]]*image:\).*|\1 ahismail/sahaluniv-hemis:${IMAGE_TAG}|" kubernetes/deployment.yaml
      #     else
      #       sed -i "s|^\([[:space:]]*image:\).*|\1 ahismail/sahaluniv-hemis:${IMAGE_TAG}|" kubernetes/deployment.yaml
      #     fi

      #     git add kubernetes/deployment.yaml

      #     if git diff --cached --quiet; then
      #       echo "No changes to commit."
      #     else
      #       git commit -m "Update image tag to ${IMAGE_TAG}"
      #       git push
      #     fi
