name: TagVersion updater

on:
  workflow_call:
    inputs:
      LATEST_IMAGE:
        required: true
        type: string
      REPO:
        required: true
        type: string

jobs:
  update-tagversion:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Update Kubernetes manifest with new image tag
        run: |
          set -e
          FILE="k8s/deployment.yaml"
          REPO=""${{ inputs.REPO }}"
          IMAGE_TAG="${{ inputs.LATEST_IMAGE }}"
          IMAGE_TAG=$(echo "$IMAGE_TAG" | xargs)  
          echo "Updating image to ${REPO}:${IMAGE_TAG} in $FILE"

          # Detect OS for sed
          if [[ "$RUNNER_OS" == "macOS" ]]; then
            sed -i '' -E "s|^([[:space:]]*image:).*|\1 ${REPO}:${IMAGE_TAG}|" "$FILE"
          else
            sed -i -E "s|^([[:space:]]*image:).*|\1 ${REPO}:${IMAGE_TAG}|" "$FILE"
          fi

          echo "Updated image line:"
          grep -E '^\s*image:' "$FILE"
